body {
    background-color: #34495e;
    font-family: Arial, sans-serif;
  }
  
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .business-card {
    width: 300px;
    background-color: rgb(92, 126, 147);
    padding: 20px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 16px;
    color:rgb(220, 238, 255);
  }

  #full-name {
    font-size: 24px;
  }
  
  a {
    color: rgb(110, 207, 255);
    text-decoration: none;
  }

  a:visited {
    color: rgb(184, 184, 184);
  }
  
  a:hover {
      text-decoration: underline; 
  }

  a:active {
    color: rgb(220, 238, 255);
  }