@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .blur-backdrop-filter {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .cursor {
        animation: blink 0.7s infinite;
    }

    @keyframes blink {
        0%, 100% { opacity: 0; }
        50% { opacity: 1; }
    }
}